/* Login.css */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #F5F5DC; /* 베이지색 배경 */
  }
  
  .loginLogo {
    margin-bottom: 20px;
    width: 150px;
    height: auto;
    border-radius: 99px;
    border: 3px solid #8FBC8F; /* 연한 녹색 테두리 */
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #FAFAD2; /* 옅은 노란색 배경 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loginInput {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #8FBC8F;
    border-radius: 4px;
    background-color: #F5FFFA;
  }
  
  .loginInput:focus {
    outline: none;
    border-color: #556B2F;
    box-shadow: 0 0 5px rgba(85, 107, 47, 0.5);
    background-color: #FFF8DC;
  }
  
  .loginButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6B8E23;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .loginButton:hover {
    background-color: #556B2F;
  }
  
  .loginLinkContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 310px;
  }
  
  .loginLinkButton {
    font-size: 14px;
    cursor: pointer;
    background: none;
    border: none;
    color: #6B8E23;
  }
  
  .loginLinkButton:hover {
    color: #556B2F;
    text-decoration: underline;
  }
  